<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EINS_RBMSEntities" connectionString="metadata=res://*/Master.csdl|res://*/Master.ssdl|res://*/Master.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.126;initial catalog=EINS_RBMS;persist security info=True;user id=sa;password=eins@2018;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EINS_RBMS_EMAILEntities" connectionString="metadata=res://*/RDMBS_Email.csdl|res://*/RDMBS_Email.ssdl|res://*/RDMBS_Email.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.126;initial catalog=EINS_RBMS_EMAIL;user id=sa;password=eins@2018;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EINS_RBMS_SMSEntities" connectionString="metadata=res://*/RDMS_SMS.csdl|res://*/RDMS_SMS.ssdl|res://*/RDMS_SMS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.126;initial catalog=EINS_RBMS_SMS;user id=sa;password=eins@2018;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>